@page "{restaurantId:int}"


@model OdeToFood.Pages.Restaurants.DetailModel
@{
}

<h2>@Model.Restaurant.Name</h2>
<div class="form-group">
    <div>
        Id: @Model.Restaurant.Id
    </div>
    <div>
        Location: @Model.Restaurant.Location
    </div>
    <div>
        Cuisine: @Model.Restaurant.Cuisine
    </div>
</div>

<a asp-page="./List" class="btn btn-outline-secondary">All Restaurants</a>