@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>

<form>
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" asp-for="SearchTerm" name="searchTerm" class="form-control" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>


@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page=".\Edit" class="btn btn-outline-secondary ml-4">Add New</a>